<button type="button" class="btn btn-dark"> 
	<%= link_to "Back To Home Page", root_path %>	
</button>


<%= form_for @author do |f| %>
<div class="form-group">
<%= f.label :author_name %>
<%= f.text_field :author_name %>
</div>
<div class="form-group">
<%= f.label :author_description %> 
<%= f.text_area :author_description %>
</div>
<button type="button" class="btn btn-dark">
<%= f.submit %>
</button>
<% end %>
<br>
