<center><h1>Welcome <%= current_user.name %></h1></center> 
<center>
<div class="btn-group">
      <span > 
      <select  role="menu">
       <option value="1"><%= link_to "select your city", root_path%></option>
       <option value="2"><%= link_to "Delhi", root_path %></option>
       <option value="3"><%= link_to "Pune", root_path %></option>
       <option value="4"><%= link_to "Mumbai", root_path %></option>
        <option value="5"><%= link_to "Banglore", root_path %></option>
      </select></span> 
      
</div>
</center> 
<!--- optional dropdown list -->


<h1>
  <center>Home services, On Demand</center>
</h1>

<!-- search bar -->
<%= form_tag(search_page_path, :method => "get", class: 'navbar-form navbar-left') do %>  
  <div class="input-group">  
    <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>  
    <div class="input-group-btn">  
      <%= button_tag "search", :class => 'btn btn-dark',:name => nil%>  
    </div>  
  </div>  
<% end %><br>


<%- if has_role?(:admin) %>
<button type="button" class="btn btn-dark">
    <%= link_to 'Add More Services', new_service_path %>
</button><br>
<% end %>

<%#- if has_role?(:admin) %>
<!-- <button type="button" class="btn btn-dark">
    <%#= link_to 'Add Details', details_path %>
</button><br> -->
<%# end %>
<br>
<%#- if has_role?(:admin) %>
<button type="button" class="btn btn-dark">
    <%= link_to 'Authors List', details_path %>
</button>
<!-- <button type="button" class="btn btn-dark">
    <%#= link_to 'Book', books_path %>
</button> -->
<div class="row">
<%# end %>
<% @services.each do |services| %>
<div class="card" style="width: 15rem;"><br>
 <!--  <img src="..." class="card-img-top" alt="..."> -->
   <center><h5 class="card-title"><%= services.title %></h5></center> 
   <a href = "<%= detail_url(services) %> "
    <%= link_to image_tag(services.image.url, class: 'media-object'), services.image.url,  class: "col", width: "20%"%>
     </a> 
    
   <br>
    <div class="card-body">
      <!--<p class="card-text"><%= services.detail %></p>
      <h5 class="card-title"><%= services.price %></h5>
     <a href="#" class="btn btn-primary">Add Cart</a> -->
      <button type="button" class="btn btn-dark">
        <div>
        <%= link_to "Add", 'javascript:;', id: "simran_#{services.id}", class: "home-service-id" %>
        <%= link_to "Cart", carts_path %>
      </div>
      </button>
      
    </div>
  </div>
<% end %>
</div>



<script>
  $(document).ready(function(){
    $(".home-service-id").on('click', function(){     
      var welcome_page_id = $(this).attr('id')
      var welcome_page_id = welcome_page_id.split('simran_')[1]
      $.ajax({
        url: "<%= carts_path %>",
        type: "POST",
        data: {
          welcome_page_id: welcome_page_id
        }
      });
    });
  });
</script>

<br>
<center>
<p> Logout Your Account</p>
  <div class="column">
    <button type="button" class="btn btn-dark">
      <%= link_to 'logout', destroy_user_session_path, method: :delete%>
    </button>
  </div>

</center>

