<button type="button" class="btn btn-dark">

<%= link_to "Back To Home Page", root_path %>
</button>

<h3>Search Result</h3> 
<div class="row">
 <% @results.each do |result| %>  
<div class="card" style="width: 18rem;">
    <div class="card-body">
    <%= image_tag result.image.url, class: "column", width: "20%" %>
    <h5 class="card-title"><%= result.title %></h5><br>
    <p class="card-detail"><%= result.detail %></p><br>
    <h4 class="card-price"><%= result.price %></h4><br>
</div>
</div>
<% end %>
</div>



    
   