 <button type="button" class="btn btn-dark"> 
  <%= link_to "Back To Home Page", root_path %>   
</button>
<div class="page-header">
  <center>upload book</center>
</div>
<%= form_for @book do |b| %>
<div class="form-group">
	<%= b.label :author_id %>
	<%#= b.collection_select(:author_id, Author.all, :id) %>
	<%#= b.options_for_select ([['The Giver', 1], ['Animal Form', 2]]) %>
	<%= b.collection_select(:author_id, Author.all, :id, :author_name, :prompt => true) %>
	<%#= select_tag(:author_id,
               options_for_select(), 
               include_blank: "Select Author") %>
	<%#= b.collection_select :author_id %>
</div>
<div class="form-group">
<%= b.label :book_name %>
<%= b.text_field :book_name %>
</div>
<div class="form-group">
<%= b.label :book_descriptions %> 
<%= b.text_area :book_descriptions %>
</div>
<div class="form-group">
<%= b.label :book_price %> 
<%= b.number_field :book_price %>
</div>
<div class="form-group">
<%= b.label :image %> 
<%= b.file_field :image %>
</div>
<button type="button" class="btn btn-dark">
<%= b.submit %>
</button>
<% end %>