 <button type="button" class="btn btn-dark"> 
  <%= link_to "Back To Home Page", root_path %>   
</button>
<table id="customers">
  <tr>
   
    <th>Book Name</th>
    <th>Book Description</th>    
    <th>Book Price</th>    
    <th>Show</th>
    <th>Edit</th>
    <th>Remove</th>
  </tr>
  <% @books.each do |b| %>
    <tr>
      <td><%= b.book_name %></td>
      <td><%= b.book_descriptions %></td>
      <td><%= b.book_price %></td>
      <td><%= link_to "Show", book_path(b) %></td>
      <td><%= link_to "Edit", edit_book_path(b) %></td>
<td><%= link_to "Delete", b,method: :delete,data: { confirm: "Are you sure?" } %></td>
    </tr>
  <% end %>
</table>