<%= link_to "Back", root_path %><h1> <center><%=  @service.title %></center>  
</h1>

<footer class="site-footer">
  <p><%= @service.detail %>
    <h1> Recommende videro </h1>
    <%=link_to nil,"https://www.youtube.com/watch?v=ykUNOlD3fDQ" %>
    <%= link_to nil,"https://www.youtube.com/watch?v=s6NHxfKUkUo"  %>
    <%= link_to nil, "https://www.youtube.com/watch?v=flU7chIYKFc&t=1s" %>
    <%= link_to nil, "https://www.youtube.com/watch?v=BQFHmIf2dHg" %>
    <%= link_to nil, "https://www.youtube.com/watch?v=CRXCB_3gLok" %>
    <%= link_to nil, "https://www.youtube.com/watch?v=tZMMbbOTjmA " %>
  </p>

   <!--button type="button", class="btn1">
   </button-->

   <button type="button", class="btn1">
   <%=  @service.price %> 
   </button>

  <!--<div class="col img"> <%=  image_tag(@service.image.url)%></div> -->
</footer>

